{% extends 'base.html' %}
{% load static %}
{% block title %}
FAQ | LearningPost
{% endblock title %}
{% block content %}

<div class="w-screen h-screen overflow-auto bg-white py-6 px-4 flex flex-col gap-6">
    <div class="w-fit">
        <div class="flex items-center p-[5px] pr-3 rounded-md bg-gradient-to-r from-gray-100 to-gray-200">
            <img src="{% static 'assets/images/logo.png' %}" alt="logo" class="w-[50px] aspect-square rounded-md">
            <span class="text-lg font-semibold text-black/80">LearningPost</span>
        </div>
    </div>
    <div class="text-2xl font-bold text-black text-center">Frequently Asked Questions</div>

    <ul class="w-full max-w-2xl mx-auto">
        {% for faq in faqs %}
        <li class="border-b border-b-gray-300 select-none">
            <div class="w-full p-4 text-lg font-medium flex items-center question cursor-pointer"
                data-target="answer{{forloop.counter}}">
                <div class="w-full flex-1 pr-2">
                    {{faq.question}}
                </div>
                <div class="px-3 aspect-square bg-black text-white rounded-md grid place-items-center">+</div>
            </div>
            <div class="px-4 pb-4 answers" id="answer{{forloop.counter}}">
                <div class="w-full p-3 rounded-md bg-gray-100">
                    {{faq.answer}}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>


<style>
    .question * {
        pointer-events: none;
    }

    .answers {
        display: none;
    }
</style>

<script>
    $('.question').click((e) => {
        var target = $(e.target).attr('data-target');
        $(`#${target}`).slideToggle(300);
    })
</script>
{% endblock content %}