{% extends 'base.html' %} {% load static %} {% block content %}

<div
  class="w-screen h-fit relative overflow-auto"
  style="background: radial-gradient(#ffffff20, #00000000 90%)"
>
  {% include 'partials/home_nav.html' %}
  <div class="px-6 pt-6 pb-12 md:px-12 lg:px-24 mx-auto">
    <div class="w-full h-full flex max-sm:flex-col items-center gap-6">
      <div class="w-full md:w-3/6">
        <h1 class="text-3xl md:text-4xl lg:text-5xl text-white font-semibold">
          Transform Your <br /><span class="blue-text"
            >Learning Experience</span
          >
          with<br />
          <img
            src="{% static 'assets/images/logo_white.png' %}"
            alt=""
            class="h-[3rem] md:h-[4rem] lg:h-[5rem] -ml-[1rem] md:-ml-[1.5rem] lg:-ml-[1.8rem] -mt[2rem]"
          />
        </h1>
        <p
          class="text-[var(--fg2)] text-xl md:text-2xl"
          style="font-style: italic"
        >
          #where fun meets brain power
        </p>
        <div class="w-full mt-8">
          <button
            class="w-fit border-none outline-none blue-bg py-3 px-8 text-[#FFF] rounded-md open-learningpost-website"
          >
            Learn More
          </button>
        </div>
      </div>
      <div class="w-full md:w-3/6 max-sm:pt-6">
        <img
          src="{% static 'assets/images/banner_img.svg' %}"
          alt=""
          class="w-full"
        />
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="py-12 px-3 md:px-8 lg:px-18 flex flex-col items-center gap-3">
    <img
      src="{% static 'assets/images/logo_white.png' %}"
      alt="logo"
      class="max-lg:w-4/6 lg:h-[50px] rounded-md -ml-3"
    />
    <dic class="mx-auto text-[var(--fg)]">&copy; 2024, LearningPost</dic>
    <div class="flex gap-2 mt-3">
      <a
        href="mailto:support@learningpost.ng"
        class="w-[40px] aspect-square grid place-items-center bg-[var(--bg)] rounded-full text-white text-lg"
        title="Mail Support"
      >
        <ion-icon name="mail-outline" class="pointer-events-none"></ion-icon>
      </a>
      <a
        href="{% url 'pp' %}"
        class="w-[40px] aspect-square grid place-items-center bg-[var(--bg)] rounded-full text-white text-lg"
        title="Privacy"
      >
        <ion-icon name="shield-outline" class="pointer-events-none"></ion-icon>
      </a>
      <a
        href="{% url 'tc' %}"
        class="w-[40px] aspect-square grid place-items-center bg-[var(--bg)] rounded-full text-white text-lg"
        title="T&C"
      >
        <ion-icon
          name="document-text-outline"
          class="pointer-events-none"
        ></ion-icon>
      </a>
      <a
        href="https://learningpost.ng/faq"
        class="w-[40px] aspect-square grid place-items-center bg-[var(--bg)] rounded-full text-white text-xl"
        title="FAQ"
      >
        <ion-icon
          name="help-circle-outline"
          class="pointer-events-none"
        ></ion-icon>
      </a>
    </div>
  </div>
</div>

<style>
  * {
    user-select: none;
  }

  .blue-text {
    color: #79adf9;
  }

  .blue-bg {
    background: #547aaf;
  }

  .elevated-box {
    box-shadow: 0 6px 8px #11111150;
  }

  .feature-btn {
    border: 2px solid transparent;
    transition: 0.5s;
    outline: none !important;
  }

  .feature-btn.active,
  .feature-btn:hover {
    border: 2px solid #5f89c4;
  }

  .feature-btn * {
    pointer-events: none;
  }

  .tgl-more {
    cursor: pointer;
  }
</style>

<script>
  $(".feature-btn").click((e) => {
    $("#feature-img").attr("src", $(e.target).attr("data-image"));
    $("#feature-txt").text($(e.target).attr("data-text"));
    $(".feature-btn").removeClass("active").addClass("elevated-box");
    $(e.target).addClass("active").removeClass("elevated-box");
  });
  $(".open-learningpost-website").click(() => {
    setTimeout(() => {
      var a = document.createElement("a");
      a.href = "https://learningpost.ng/";
      a.target = "_blank";
      a.click();
    }, 500);
  });
  $(".tgl-more").click((e) => {
    $(e.target.parentElement.children[0]).toggleClass("hidden");
    $(e.target.parentElement.children[1]).toggleClass("hidden");
    var ismore = $(e.target).text() == "Read more.";
    $(e.target).text(ismore == true ? "Read less." : "Read more.");
  });
</script>
{% endblock content %}
