{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="p-6 flex justify-between items-center w-screen overflow-hidden">
    {% include 'partials/logo.html' %}
</header>

<main class="w-full p-6">
    <form method="post" action="" class="w-full max-w-md mx-auto flex flex-col items-center gap-4">
        {% csrf_token %}
        <legend class="font-medium text-3xl text-[var(--fg2)]">Continue with Email</legend>
        <div class="w-full mt-6">
            <input type="email" name="email" id="email"
                class="rounded-md w-full p-4 text-[var(--fg)] placeholder:text-[var(--fg2)] bg-[var(--bg2)]"
                placeholder="Email Address:">
        </div>
        <div class="w-full">
            <input type="password" name="password" id="password"
                class="rounded-md w-full p-4 text-[var(--fg)] placeholder:text-[var(--fg2)] bg-[var(--bg2)]"
                placeholder="Password:">
        </div>
        <div class="w-full mt-2 text-center px-6">
            <button type="submit"
                class="w-full max-w-xs p-4 text-[var(--fg)] bg-[var(--highlight)] font-semibold rounded-md">
                Submit
            </button>
        </div>
        <div class="my-3 flex items-center gap-2 px-8 w-full">
            <div class="h-[1px] flex-1 bg-gray-500"></div>
            <span class="text-[var(--fg2)]">or</span>
            <div class="h-[1px] flex-1 bg-gray-500"></div>
        </div>
        <a href="https://app.learningpost.ng/"
            class="w-full py-3 px-6 text-center border border-gray-200 text-gray-200 rounded-md">
            Other sign in options
        </a>
    </form>
</main>

{% endblock content %}