{% extends 'admin.html' %}
{% load static %}
{% block screen %}
<div class="w-full flex items-center gap-2 mb-6">
    <span class="mr-auto text-xl text-[var(--fg)] font-bold">Referrals</span>
    <a href="{% url 'generate_referral' %}" class="w-fit py-2 px-3 flex items-center gap-2 bg-[var(--bg2)] rounded-md">
        <ion-icon name="sync-sharp" class="text-[var(--fg2)] text-2xl"></ion-icon>
        <span class="text-[var(--fg)] max-md:hidden">Generate Referral Code</span>
    </a>
</div>

{% if not referrals %}
<div class="text-center text-[var(--fg)] text-lg font-medium mt-8">No Referrals Created</div>
{% endif %}

<div class="w-full mt-3 md:mt-6">
    <div class="w-full overflow-auto">
        <table class="table-auto w-full">
            <thead class="text-[var(--fg2)]">
                <tr class="bg-[var(--bg2)]">
                    <th class="text-start p-3">Code</th>
                    <th class="text-start p-3">Used by</th>
                    <th class="text-start p-3 w-fit max-sm:min-w-[100px]">Status</th>
                    <th class="text-end p-3 w-fit">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for referral in referrals %}
                <tr>
                    <td class="text-start p-3">
                        <div class="w-full max-w-[150px]">
                            <span class="font-semibold text-[var(--fg)]">{{referral.code}}</span>
                        </div>
                    </td>
                    <td class="text-start p-3">
                        <div class="w-[150px] flex gap-[7px] items-center truncate">
                            {% if referral.profile %}
                            <img src="{{referral.profile.user.profile_photo}}" alt=""
                                class="rounded-full w-[20px] h-[20px] bg-white/50">
                            <small class="text-[var(--fg2)]">
                                {{referral.profile.user.first_name}}
                            </small>
                            {% else %}
                            <small class="text-[var(--fg2)]">-</small>
                            {% endif %}
                        </div>
                    </td>
                    <td class="text-start p-3 w-fit max-sm:min-w-[100px]">
                        {% if referral.is_used %}
                        <small class="text-[var(--fg2)] bg-white/10 py-1 px-2 rounded-md">Used</small>
                        {% else %}
                        <small class="text-[var(--fg2)] bg-white/10 py-1 px-2 rounded-md">Not Used</small>
                        {% endif %}
                    </td>
                    <td class="text-end p-3 w-fit">
                        <button
                            onclick="confirm('Are you sure you want to delete this referral code?') ? window.location.replace(`{% url 'delete_code' referral.id %}`) : null"
                            class="bg-[var(--red)] text-[var(--fg2)] text-[14px] flex items-center w-fit rounded-full p-2 ml-auto">
                            <ion-icon name="trash-outline"></ion-icon>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="w-full flex justify-end items-center gap-3 mt-6">
        <!-- PREV -->
        {% if paginator.has_previous %}
        <a href="?page={{paginator.previous_page_number}}"
            class="py-2 px-3 grid place-items-center gap-2 bg-[var(--bg2)] rounded-md text-[var(--fg)]">
            <ion-icon name="chevron-back"></ion-icon>
        </a>
        {% else %}
        <span class="py-2 px-3 grid place-items-center gap-2 bg-[var(--bg2)] rounded-md text-[var(--fg)]">
            <ion-icon name="chevron-back"></ion-icon>
        </span>
        {% endif %}

        <small class="text-[var(--fg2)]">Page {{page}}</small>

        <!-- NEXT -->
        {% if paginator.has_next %}
        <a href="?page={{paginator.next_page_number}}"
            class="py-2 px-3 grid place-items-center gap-2 bg-[var(--bg2)] rounded-md text-[var(--fg)]">
            <ion-icon name="chevron-forward"></ion-icon>
        </a>
        {% else %}
        <span class="py-2 px-3 grid place-items-center gap-2 bg-[var(--bg2)] rounded-md text-[var(--fg)]">
            <ion-icon name="chevron-forward"></ion-icon>
        </span>
        {% endif %}
    </div>
</div>
{% endblock screen %}