{% load static %}
<div class="w-full py-3 px-0 md:px-8 lg:px-18">
  <div class="w-full h-[70px] flex items-center">
    <img
      src="{% static 'assets/images/logo_white.png' %}"
      alt="logo"
      class="h-[50px] rounded-md"
    />
    <div
      class="w-fit hidden lg:flex gap-4 items-center text-[var(--fg2)] text-sm ml-auto mr-6"
    >
      <a href="{% url 'pp' %}">Privacy</a>
      <a href="{% url 'tc' %}">T&C</a>
      <a href="https://learningpost.ng/faq">FAQ</a>
    </div>
    <button
      class="w-fit border-none outline-none blue-bg py-3 px-8 text-white rounded-md hidden lg:block open-learningpost-website"
    >
      Learn More
    </button>
    <button
      class="w-fit border-none outline-none bg-[#00000020] px-2 aspect-square text-white rounded-md lg:hidden ml-auto mr-3 grid place-items-center text-xl tgl-menu"
    >
      <ion-icon name="menu-outline"></ion-icon>
    </button>
  </div>
  <div class="bg-[var(--bg2)] w-full p-4 dropdown-menu">
    <div class="w-fit flex flex-col gap-4 text-[var(--fg)]">
      <a href="{% url 'pp' %}">Privacy</a>
      <a href="{% url 'tc' %}">T&C</a>
      <a href="https://learningpost.ng/faq">FAQ</a>
    </div>
    <button
      class="w-fit border-none outline-none blue-bg py-3 px-8 text-white rounded-md open-learningpost-website mt-8"
    >
      Learn More
    </button>
  </div>
</div>

<style>
  .dropdown-menu {
    display: none;
  }
</style>

<script>
  $(".tgl-menu").click(() => {
    $(".dropdown-menu").slideToggle(500);
  });

  $(".open-learningpost-website").click(() => {
    setTimeout(() => {
      var a = document.createElement("a");
      a.href = "https://learningpost.ng/";
      a.target = "_blank";
      a.click();
    }, 1000);
  });
</script>
