{% extends 'base.html' %}
{% block title %}
Admin Portal
{% endblock title %}
{% block content %}
<div class="w-full flex max-sm:flex-col gap-0 relative">
    {% include 'partials/admin_nav.html' %}
    <div class="p-3 md:p-6 flex-1 w-full" style="background: radial-gradient(#FFFFFF20, #00000000 90%);">
        {% block screen %}

        {% endblock screen %}
    </div>
</div>

<script>
    // QUESTION EDIT FORM CTRL
    $('.toggleQuestionWrapper').click((e) => {
        var questions = $('.questionForm');
        for (let i = 0; i < questions.length; i++) {
            var question = questions[i];
            var actionKey = $(question.getElementsByClassName('formActions')[0].children[0]).attr('data-key');
            if ($(e.target).attr('data-key') == actionKey) {
                $(`#question${actionKey} .questionWrapper`).slideToggle();
                $(question.getElementsByClassName('formActions')).toggleClass('active');
                $(question.getElementsByClassName('formActions')).fadeOut(200);
                setTimeout(() => {
                    $(`.formActions.active`).fadeIn(200);
                }, 300);
            }
        }
    });
</script>
{% endblock content %}