<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="LearningPost is an innovative educational platform designed to provide personalized learning experiences for students of all ages. It offers a wide range of interactive lessons, resources, and tools to support academic learning and skill development across various subjects and topics. With features such as SmartLinks, challenges, leaderboards, and adaptive learning, LearningPost aims to make learning engaging, effective, and accessible for everyone. Whether you're a student, teacher, or parent, LearningPost serves as a comprehensive learning solution to help you achieve your educational goals and unlock your full potential.">
    <title>
        {% block title %}
        LearningPost
        {% endblock title %}
    </title>
    {% block links %}{% endblock links %}
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/logo.png' %}" type="image/x-icon">
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
</head>

<body class="bg-[var(--bg)]">
    {% block content %}

    {% endblock content %}
    <script src="{% static 'scripts/tailwind.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/6.0.4/ionicons.min.js"
        integrity="sha512-8O7VIjJxO2P/Vfm34bYnEbPwocNkwUQdzJCYooCDWP9MT4GpPw5Ktmk9NxVyWfrzDlXnbCsZzSUR81Etc6gv0A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>