{% extends 'base.html' %}
{% load static %}
{% block title %}
Admin Portal
{% endblock title %}
{% block content %}
<div class="w-full flex max-sm:flex-col gap-0 relative">
    {% include 'partials/admin_nav.html' %}
    <div class="p-3 md:p-6 flex-1 w-full">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <form action="" method="post" enctype="multipart/form-data" id="trainModelForm"
                class="w-full border border-[var(--lightgray)] rounded-md p-4 h-fit">
                <!-- COVER -->
                <div class="w-fit">
                    <label for="m_file" class="text-[var(--fg)] font-medium">Train AI Model*</label>
                    <input type="file" name="m_file" id="m_file" accept=".pdf" required
                        class="w-full mt-3 text-[var(--fg)] file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-[var(--bg2)] file:text-[var(--fg2)]">
                </div>

                <div class="w-full text-start px-4 mt-6">
                    <button type="submit"
                        class="w-fit rounded-md py-3 px-8 text-sm bg-[var(--highlight)] font-semibold">Save</button>
                </div>

                {% if success %}
                <div class="text-center mt-4 text-[var(--green)]">
                    {{message}}
                </div>
                {% else %}
                <div class="text-center mt-4 text-[var(--red)]">
                    {{message}}
                </div>
                {% endif %}
            </form>

            <div
                class="w-full border border-[var(--lightgray)] rounded-md py-4 h-[90vh] flex flex-col gap-4 conversation-box">
                <div class="flex-1 w-full overflow-auto px-4 py-2 relative" id="conversationWrapper">
                    <ul id="conversation" class="flex flex-col gap-6">
                        <li class="w-full flex gap-4 items-start text-[var(--fg)]">
                            <img src="{% static 'assets/images/akada_avatar.png' %}" alt=""
                                class="w-[30px] h-[30px] rounded-full sticky top-0">
                            <div class="flex-1 p-3 rounded-md border border-black/50">
                                <div class="mb-1">Tips!</div>
                                <div class="w-full flex gap-2">
                                    <span>-</span>
                                    <span class="text-sm">Ensure you mentain proper grammar when asking questions</span>
                                </div>
                                <div class="w-full flex gap-2">
                                    <span>-</span>
                                    <span class="text-sm">Do not forget to start all your nouns with capital
                                        letters</span>
                                </div>
                                <div class="mt-2 mb-1">Limitations!</div>
                                <div class="w-full flex gap-2">
                                    <span>-</span>
                                    <span class="text-sm">Responses may not be 100% accurate.</span>
                                </div>
                                <div class="w-full flex gap-2">
                                    <span>-</span>
                                    <span class="text-sm">Akada is only able to answer simple questions a single subject
                                        in the sentence</span>
                                </div>
                                <!-- <div class="w-full flex gap-2">
                                    <span>-</span>
                                    <span class="text-sm"></span>
                                </div> -->
                            </div>
                        </li>
                    </ul>
                </div>
                <form method="get" class="flex gap-4 px-4 items-end" id="questionForm">
                    <textarea rows="2" name="query" id="query" placeholder="Type a question here..."
                        class="py-3 px-4 rounded-md bg-black/10 border-none outline-none flex-1 text-[var(--fg)]"></textarea>
                    <button type="submit"
                        class="rounded-full bg-[var(--highlight)] px-3 aspect-square text-[var(--fg)] h-fit grid place-items-center">
                        <ion-icon name="send-outline"></ion-icon>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .replies {
        opacity: 0;
        transition: .5s;
    }

    .replies.active {
        opacity: 1;
    }
</style>
<script>
    var scrollPosition = 0;
    $('#questionForm').submit((e) => {
        e.preventDefault();

        // APPEND USER QUERY AS HTML ITEM
        var userQuery = $('#query').val();
        var userQueryTextContent = '';
        userQuery.split('\n').forEach((line, index) => {
            userQueryTextContent += `${index > 0 ? '<br>' : ''}${line}`
        });
        var userLI = document.createElement('li');
        $(userLI).addClass('w-full flex gap-4 items-start text-[var(--fg)]');
        userLI.innerHTML = `
        <li class="w-full flex gap-4 items-start text-[var(--fg)]">
            <img src="{% static 'assets/images/no_cover.png' %}" alt=""
                class="w-[30px] h-[30px] rounded-full">
            <div class="flex-1 p-3 rounded-md border border-black/50">
                ${userQueryTextContent}
            </div>
        </li>`;
        $('#conversation').append(userLI);
        $('#conversationWrapper').scrollTop($('#conversationWrapper')[0].scrollHeight);


        // ===============================================================================
        // APPEND AI RESPONSE AS HTML ITEM
        var akadaLI = document.createElement('li');
        $(akadaLI).addClass('w-full flex gap-4 items-start text-[var(--fg)]');
        akadaLI.innerHTML = `
        <li class="w-full flex gap-4 items-start text-[var(--fg)] replies">
            <img src="{% static 'assets/images/akada_avatar.png' %}" alt=""
                class="w-[30px] h-[30px] rounded-full sticky top-0">
            <div class="flex-1 p-3 rounded-md border border-black/50">
                Wait a moment...
            </div>
        </li>`;
        $('#conversation').append(akadaLI);
        setTimeout(() => {
            $('.replies').addClass('active')
        }, 500)
        setInterval(() => {
            var maxScroll = $('#conversationWrapper')[0].scrollHeight
            var scrolled = $('#conversationWrapper')[0].scrollTop
            if (scrolled == maxScroll) {
                clearInterval();

            } else {
                $('#conversationWrapper').scrollTop(scrolled + 1);
            }
        }, 1)
        const form = document.getElementById('questionForm');
        fetch("{% url 'chat_with_akada' %}", {
            method: 'POST',
            body: new FormData(form),
        })
            .then(response => response.json())
            .then(data => {
                var responseTextContent = '';
                for (var i = 0; i < data.response.length; i++) {
                    responseTextContent += data.response[i].toString().replace('\n\n', '<br>').replace('\n', ' ')
                }

                $('.replies:last-child div').text(`${responseTextContent}`)
            });
        $('#query').val('');
    })
</script>
{% endblock content %}